// Colors
$mainColor: #141c24;
$secondColor: #ffe63c;
$darkGrey: #1c1c1c;
$lightGrey: #727272;

// Mixins
@mixin transition($t) {
  transition: all $t ease-in-out;
  -webkit-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
}

/** FONTS **/
@font-face {
  src: url('../fonts/Exo2-Black.ttf');
  font-family: Exo_Black;
}

@font-face {
  src: url('../fonts/WorkSans-Black.ttf');
  font-family: Worksans_Black;
}

@font-face {
  src: url('../fonts/WorkSans-Regular.ttf');
  font-family: Worksans_Regular;
}

@font-face {
  src: url('../fonts/WorkSans-Light.ttf');
  font-family: Worksans_Light;
}

/** GLOBAL STYLES **/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  padding-top: 150px;
  padding-bottom: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darkGrey;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: Worksans_Black;
}

p,
a,
input,
label,
li {
  color: $lightGrey;
  font-family: Worksans_Regular;
}

a {
  word-spacing: 1px;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.overlay-bg:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $mainColor;
  opacity: 0.98;
}

.btn {
  border-radius: 50px;
  padding: 25px 50px;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-family: Worksans_Regular;
  font-size: 14px;
}

.btn.bold {
  font-weight: bold;
}

.btn.second {
  background-color: $secondColor;
  color: $mainColor;
  border: 2px solid $secondColor;
  @include transition(0.2s);

  &:hover {
    background-color: transparent;
    color: $secondColor;
  }
}

.btn.first {
  background-color: $mainColor;
  color: #fff;
  border: 2px solid $mainColor;
  @include transition(0.2s);

  &:hover {
    background-color: transparent;
    color: $mainColor;
  }
}

.main-title {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.main-slogan {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

.dark-bg {
  background-color: $mainColor;
}

.second-bg {
  background-color: $secondColor;
}

.text-second {
  color: $secondColor;
}

.text-dark {
  color: $mainColor;
}

.btn-wrap {
  margin-top: 80px;
  text-align: center;
}

/** Form inputs **/

form .two-inputs {
  display: flex;
}



form .two-inputs .input-wrap {
  flex-basis: 50%;
}

form .two-inputs .input-wrap:first-of-type {
  padding-right: 15px;
}

form .two-inputs .input-wrap:last-of-type {
  padding-left: 15px;
}

form .input-wrap {
  margin-bottom: 30px;
}

form .input-wrap input,
form .input-wrap textarea {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: 0;
  border: 1px solid #1e2832;
  outline: 0;
  font-size: 15px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

form .input-wrap input.capt {
  text-transform: capitalize;
}

form .input-wrap textarea {
  min-height: 100px;
  resize: vertical;
}

form .input-wrap input:focus,
form .input-wrap textarea:focus {
  background-color: #11171d;
}

@media (max-width: 700px) {
  form .two-inputs {
    flex-direction: column;
  }

  form .two-inputs .input-wrap:first-of-type {
    padding-right: 0;
  }

  form .two-inputs .input-wrap:last-of-type {
    padding-left: 0;
  }
}

.link-hov {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;

  &:hover {
    color: $lightGrey;
  }
}

.more-btn {
  color: $mainColor;
  text-transform: capitalize;
  font-size: 14px;
  padding: 15px 25px;
  position: relative;
  z-index: 1;
  font-weight: bold;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: rgba(255, 230, 60, 0.4);
    width: 50%;
    z-index: -1;
    transition: all .1s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

@media(max-width: 1045px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media(max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 450px) {
  .main-title {
    font-size: 32px;
  }
}